{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="row justify-content-center interact">
    <div class="col-6">
		<p>Place drop down here</p>
    </div>
    <div class="col-6">
    	<p>Place notes box here</p>
    </div>
  </div>
  <div class="col-12">
	<div class="row justify-content-center interact">

	  <div class="col-3">
		<div class="card text-center interact-controls">
		  <div class="card-head">
         	<a href="#"><i class="fa fa-play fa-5x"></i></a>
          </div>
		  <div class="card-body">
		    <h2>PLAY</h2>
		  </div>
		</div>
	  </div>

	  <div class="col-3">
		<div class="card text-center interact-controls">
		  <div class="card-head">
         	<a href="#"><i class="fa fa-pause fa-5x"></i></a>
          </div>
		  <div class="card-body">
		    <h2>PAUSE</h2>
		  </div>
		</div>
	  </div>

	  <div class="col-3">
		<div class="card text-center interact-controls">
		  <div class="card-head">
         	<a href="#"><i class="fa fa-stop fa-5x"></i></a>
          </div>
		  <div class="card-body">
		    <h2>STOP</h2>
		  </div>
		</div>
	  </div>

    </div>
</div>

{% endblock %}

